<html>
    <head>
        <title>What Da Foo</title>
        <link rel="stylesheet" href="nav.css">
    </head>
    <body>
        <div class="topnav">
            <div class="inner">
                <a href="index.html">HOME</a>
                <a href="recipes.html">RECIPES</a>
                <a href="blog.html">BLOG</a>
                <a href="ingredients.html">INDEX</a>
                <a href="store.html">SHOP</a>
                <a href="newsletter.html">NEWSLETTER</a>
                <a href="about.html">ABOUT US</a>
                <a href="contact.html">CONTACT US</a>
            </div>
        </div>
    </body>
</html>